.scroll_y{
    overflow-y:scroll;
}
.scroll_y::-webkit-scrollbar{
    display:none;/*隐藏滚动条*/      
}
.fa {
    margin-right: 7px;
    text-align: center;
    align-content: center;
    align-items: center;
}
